// CLOCK
LOCATE COMP "clk" SITE "P3";
IOBUFFER PORT "clk" IO_TYPE = LVCMOS33;
FREQUENCY PORT "clk" 25.0 MHz;

// RESET_N
LOCATE COMP "rst_n" SITE "E5"; // botao reset BAIXO
IOBUFFER PORT "rst_n" IO_TYPE = LVCMOS33;

// VGAHS
LOCATE COMP "VGAHS" SITE "J20"; // SINCRONISMO HORIZONTAL
IOBUFFER PORT "VGAHS" IO_TYPE = LVCMOS33 PULLMODE=NONE SLEWRATE=SLOW DRIVE=8;

// VGAVS
LOCATE COMP "VGAVS" SITE "G20"; // SINCRONISMO VERTICAL
IOBUFFER PORT "VGAVS" IO_TYPE = LVCMOS33 PULLMODE=NONE SLEWRATE=SLOW DRIVE=8;

// VGA_R
LOCATE COMP "VGA_R[2]" SITE "M18"; // RED[2]
IOBUFFER PORT "VGA_R[2]" IO_TYPE = LVCMOS33 SLEWRATE=SLOW DRIVE=8;

LOCATE COMP "VGA_R[1]" SITE "N17"; // RED[1]
IOBUFFER PORT "VGA_R[1]" IO_TYPE = LVCMOS33 SLEWRATE=SLOW DRIVE=8;

LOCATE COMP "VGA_R[0]" SITE "U17"; // RED[0]
IOBUFFER PORT "VGA_R[0]" IO_TYPE = LVCMOS33 SLEWRATE=SLOW DRIVE=8;

// VGA_G
LOCATE COMP "VGA_G[2]" SITE "K20"; // GREEN[2]
IOBUFFER PORT "VGA_G[2]" IO_TYPE = LVCMOS33 SLEWRATE=SLOW DRIVE=8;

LOCATE COMP "VGA_G[1]" SITE "L20"; // GREEN[1]
IOBUFFER PORT "VGA_G[1]" IO_TYPE = LVCMOS33 SLEWRATE=SLOW DRIVE=8;

LOCATE COMP "VGA_G[0]" SITE "L18"; // GREEN[0]
IOBUFFER PORT "VGA_G[0]" IO_TYPE = LVCMOS33 SLEWRATE=SLOW DRIVE=8;

// VGA_B
LOCATE COMP "VGA_B[2]" SITE "N18"; // BLUE[2]
IOBUFFER PORT "VGA_B[2]" IO_TYPE = LVCMOS33 SLEWRATE=SLOW DRIVE=8;

LOCATE COMP "VGA_B[1]" SITE "P18"; // BLUE[1]
IOBUFFER PORT "VGA_B[1]" IO_TYPE = LVCMOS33 SLEWRATE=SLOW DRIVE=8;

LOCATE COMP "VGA_B[0]" SITE "U18"; // BLUE[0]
IOBUFFER PORT "VGA_B[0]" IO_TYPE = LVCMOS33 SLEWRATE=SLOW DRIVE=8;